<div>
  <h2 id="page-heading" data-cy="SeguroHeading">
    <span jhiTranslate="artesApp.seguro.home.title">Seguros</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="artesApp.seguro.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-seguro"
        [routerLink]="['/seguro/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="artesApp.seguro.home.createLabel"> Create a new Seguro </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="seguros?.length === 0">
    <span jhiTranslate="artesApp.seguro.home.notFound">No seguros found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="seguros && seguros.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="apolice">
            <span jhiTranslate="artesApp.seguro.apolice">Apolice</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="obsSeguro">
            <span jhiTranslate="artesApp.seguro.obsSeguro">Obs Seguro</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="contratoProposta">
            <span jhiTranslate="artesApp.seguro.contratoProposta">Contrato Proposta</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ciaSeguradora">
            <span jhiTranslate="artesApp.seguro.ciaSeguradora">Cia Seguradora</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cnpjSeguradora">
            <span jhiTranslate="artesApp.seguro.cnpjSeguradora">Cnpj Seguradora</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="susepSeguradora">
            <span jhiTranslate="artesApp.seguro.susepSeguradora">Susep Seguradora</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="corretora">
            <span jhiTranslate="artesApp.seguro.corretora">Corretora</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cnpjCorretora">
            <span jhiTranslate="artesApp.seguro.cnpjCorretora">Cnpj Corretora</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="susepCorretora">
            <span jhiTranslate="artesApp.seguro.susepCorretora">Susep Corretora</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dataInicio">
            <span jhiTranslate="artesApp.seguro.dataInicio">Data Inicio</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dataVenc">
            <span jhiTranslate="artesApp.seguro.dataVenc">Data Venc</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="inativo">
            <span jhiTranslate="artesApp.seguro.inativo">Inativo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="premio"><span jhiTranslate="artesApp.seguro.premio">Premio</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="txConversao">
            <span jhiTranslate="artesApp.seguro.txConversao">Tx Conversao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="genStatusSeguro">
            <span jhiTranslate="artesApp.seguro.genStatusSeguro">Gen Status Seguro</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dataAtualSeguro">
            <span jhiTranslate="artesApp.seguro.dataAtualSeguro">Data Atual Seguro</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="contatoSeg.nomeComp">
            <span jhiTranslate="artesApp.seguro.contatoSeg">Contato Seg</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="contatoCor.nomeComp">
            <span jhiTranslate="artesApp.seguro.contatoCor">Contato Cor</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="moeda.tipoMoeda">
            <span jhiTranslate="artesApp.seguro.moeda">Moeda</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let seguro of seguros; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/seguro', seguro.id, 'view']">{{ seguro.id }}</a>
          </td>
          <td>{{ seguro.apolice }}</td>
          <td>{{ seguro.obsSeguro }}</td>
          <td>{{ seguro.contratoProposta }}</td>
          <td>{{ seguro.ciaSeguradora }}</td>
          <td>{{ seguro.cnpjSeguradora }}</td>
          <td>{{ seguro.susepSeguradora }}</td>
          <td>{{ seguro.corretora }}</td>
          <td>{{ seguro.cnpjCorretora }}</td>
          <td>{{ seguro.susepCorretora }}</td>
          <td>{{ seguro.dataInicio | formatMediumDate }}</td>
          <td>{{ seguro.dataVenc | formatMediumDate }}</td>
          <td>{{ seguro.inativo }}</td>
          <td>{{ seguro.premio }}</td>
          <td>{{ seguro.txConversao }}</td>
          <td>{{ seguro.genStatusSeguro }}</td>
          <td>{{ seguro.dataAtualSeguro | formatMediumDate }}</td>
          <td>
            <div *ngIf="seguro.contatoSeg">
              <a [routerLink]="['/contato', seguro.contatoSeg?.id, 'view']">{{ seguro.contatoSeg?.nomeComp }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="seguro.contatoCor">
              <a [routerLink]="['/contato', seguro.contatoCor?.id, 'view']">{{ seguro.contatoCor?.nomeComp }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="seguro.moeda">
              <a [routerLink]="['/moeda', seguro.moeda?.id, 'view']">{{ seguro.moeda?.tipoMoeda }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/seguro', seguro.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/seguro', seguro.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(seguro)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="seguros && seguros.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
