<div>
  <h2 id="page-heading" data-cy="DadoDocumentalHeading">
    <span jhiTranslate="artesApp.dadoDocumental.home.title">Dado Documentals</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="artesApp.dadoDocumental.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-dado-documental"
        [routerLink]="['/dado-documental/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="artesApp.dadoDocumental.home.createLabel"> Create a new Dado Documental </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="dadoDocumentals?.length === 0">
    <span jhiTranslate="artesApp.dadoDocumental.home.notFound">No dadoDocumentals found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="dadoDocumentals && dadoDocumentals.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="data">
            <span jhiTranslate="artesApp.dadoDocumental.data">Data</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="emissor">
            <span jhiTranslate="artesApp.dadoDocumental.emissor">Emissor</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="receptor">
            <span jhiTranslate="artesApp.dadoDocumental.receptor">Receptor</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="obs"><span jhiTranslate="artesApp.dadoDocumental.obs">Obs</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="transcricao">
            <span jhiTranslate="artesApp.dadoDocumental.transcricao">Transcricao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="finalizado">
            <span jhiTranslate="artesApp.dadoDocumental.finalizado">Finalizado</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="genTranscricao">
            <span jhiTranslate="artesApp.dadoDocumental.genTranscricao">Gen Transcricao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tipoDocumento.tipoDocumento">
            <span jhiTranslate="artesApp.dadoDocumental.tipoDocumento">Tipo Documento</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dadoDocumental of dadoDocumentals; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/dado-documental', dadoDocumental.id, 'view']">{{ dadoDocumental.id }}</a>
          </td>
          <td>{{ dadoDocumental.data }}</td>
          <td>{{ dadoDocumental.emissor }}</td>
          <td>{{ dadoDocumental.receptor }}</td>
          <td>{{ dadoDocumental.obs }}</td>
          <td>{{ dadoDocumental.transcricao }}</td>
          <td>{{ dadoDocumental.finalizado }}</td>
          <td>{{ dadoDocumental.genTranscricao }}</td>
          <td>
            <div *ngIf="dadoDocumental.tipoDocumento">
              <a [routerLink]="['/tipo-documento', dadoDocumental.tipoDocumento?.id, 'view']">{{
                dadoDocumental.tipoDocumento?.tipoDocumento
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/dado-documental', dadoDocumental.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/dado-documental', dadoDocumental.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(dadoDocumental)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="dadoDocumentals && dadoDocumentals.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
