<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="artista">
      <h2 data-cy="artistaDetailsHeading"><span jhiTranslate="artesApp.artista.detail.title">Artista</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ artista.id }}</span>
        </dd>
        <dt><span jhiTranslate="artesApp.artista.nome">Nome</span></dt>
        <dd>
          <span>{{ artista.nome }}</span>
        </dd>
        <dt><span jhiTranslate="artesApp.artista.dataNasc" [ngbTooltip]="'artesApp.artista.help.dataNasc' | translate">Data Nasc</span></dt>
        <dd>
          <span>{{ artista.dataNasc }}</span>
        </dd>
        <dt>
          <span jhiTranslate="artesApp.artista.dataFalec" [ngbTooltip]="'artesApp.artista.help.dataFalec' | translate">Data Falec</span>
        </dt>
        <dd>
          <span>{{ artista.dataFalec }}</span>
        </dd>
        <dt>
          <span jhiTranslate="artesApp.artista.biografia" [ngbTooltip]="'artesApp.artista.help.biografia' | translate">Biografia</span>
        </dt>
        <dd>
          <span>{{ artista.biografia }}</span>
        </dd>
        <dt><span jhiTranslate="artesApp.artista.verbete" [ngbTooltip]="'artesApp.artista.help.verbete' | translate">Verbete</span></dt>
        <dd>
          <span>{{ artista.verbete }}</span>
        </dd>
        <dt>
          <span jhiTranslate="artesApp.artista.dataAtualBio" [ngbTooltip]="'artesApp.artista.help.dataAtualBio' | translate"
            >Data Atual Bio</span
          >
        </dt>
        <dd>
          <span>{{ artista.dataAtualBio | formatMediumDate }}</span>
        </dd>
        <dt>
          <span jhiTranslate="artesApp.artista.dataAtualVerb" [ngbTooltip]="'artesApp.artista.help.dataAtualVerb' | translate"
            >Data Atual Verb</span
          >
        </dt>
        <dd>
          <span>{{ artista.dataAtualVerb | formatMediumDate }}</span>
        </dd>
        <dt>
          <span jhiTranslate="artesApp.artista.possuiBio" [ngbTooltip]="'artesApp.artista.help.possuiBio' | translate">Possui Bio</span>
        </dt>
        <dd>
          <span>{{ artista.possuiBio }}</span>
        </dd>
        <dt>
          <span jhiTranslate="artesApp.artista.possuiVerb" [ngbTooltip]="'artesApp.artista.help.possuiVerb' | translate">Possui Verb</span>
        </dt>
        <dd>
          <span>{{ artista.possuiVerb }}</span>
        </dd>
        <dt><span jhiTranslate="artesApp.artista.fonteBio" [ngbTooltip]="'artesApp.artista.help.fonteBio' | translate">Fonte Bio</span></dt>
        <dd>
          <span>{{ artista.fonteBio }}</span>
        </dd>
        <dt>
          <span jhiTranslate="artesApp.artista.obrasNoAcervo" [ngbTooltip]="'artesApp.artista.help.obrasNoAcervo' | translate"
            >Obras No Acervo</span
          >
        </dt>
        <dd>
          <span>{{ artista.obrasNoAcervo }}</span>
        </dd>
        <dt><span jhiTranslate="artesApp.artista.inativo" [ngbTooltip]="'artesApp.artista.help.inativo' | translate">Inativo</span></dt>
        <dd>
          <span>{{ artista.inativo }}</span>
        </dd>
        <dt>
          <span jhiTranslate="artesApp.artista.agradecimentos" [ngbTooltip]="'artesApp.artista.help.agradecimentos' | translate"
            >Agradecimentos</span
          >
        </dt>
        <dd>
          <span>{{ artista.agradecimentos }}</span>
        </dd>
        <dt>
          <span jhiTranslate="artesApp.artista.copyright" [ngbTooltip]="'artesApp.artista.help.copyright' | translate">Copyright</span>
        </dt>
        <dd>
          <span>{{ artista.copyright }}</span>
        </dd>
        <dt><span jhiTranslate="artesApp.artista.obsUso" [ngbTooltip]="'artesApp.artista.help.obsUso' | translate">Obs Uso</span></dt>
        <dd>
          <span>{{ artista.obsUso }}</span>
        </dd>
        <dt><span jhiTranslate="artesApp.artista.contato">Contato</span></dt>
        <dd>
          <span *ngFor="let contato of artista.contatoes; let last = last">
            <a [routerLink]="['/contato', contato?.id, 'view']">{{ contato.nomeComp }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="artesApp.artista.cidadeNasc">Cidade Nasc</span></dt>
        <dd>
          <div *ngIf="artista.cidadeNasc">
            <a [routerLink]="['/cidade', artista.cidadeNasc?.id, 'view']">{{ artista.cidadeNasc?.cidade }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="artesApp.artista.cidadeFalesc">Cidade Falesc</span></dt>
        <dd>
          <div *ngIf="artista.cidadeFalesc">
            <a [routerLink]="['/cidade', artista.cidadeFalesc?.id, 'view']">{{ artista.cidadeFalesc?.cidade }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="artesApp.artista.respVerbete">Resp Verbete</span></dt>
        <dd>
          <div *ngIf="artista.respVerbete">
            <a [routerLink]="['/responsavel', artista.respVerbete?.id, 'view']">{{ artista.respVerbete?.nome }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="artesApp.artista.funcaoArtista">Funcao Artista</span></dt>
        <dd>
          <div *ngIf="artista.funcaoArtista">
            <a [routerLink]="['/funcao-artista', artista.funcaoArtista?.id, 'view']">{{ artista.funcaoArtista?.funcaoArtista }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/artista', artista.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
