<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="ambiente">
      <h2 data-cy="ambienteDetailsHeading"><span jhiTranslate="artesApp.ambiente.detail.title">Ambiente</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ ambiente.id }}</span>
        </dd>
        <dt><span jhiTranslate="artesApp.ambiente.ambiente">Ambiente</span></dt>
        <dd>
          <span>{{ ambiente.ambiente }}</span>
        </dd>
        <dt><span jhiTranslate="artesApp.ambiente.inativo">Inativo</span></dt>
        <dd>
          <span>{{ ambiente.inativo }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/ambiente', ambiente.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
