<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="acervoAtual">
      <h2 data-cy="acervoAtualDetailsHeading"><span jhiTranslate="artesApp.acervoAtual.detail.title">Acervo Atual</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ acervoAtual.id }}</span>
        </dd>
        <dt><span jhiTranslate="artesApp.acervoAtual.acervoAtual">Acervo Atual</span></dt>
        <dd>
          <span>{{ acervoAtual.acervoAtual }}</span>
        </dd>
        <dt>
          <span jhiTranslate="artesApp.acervoAtual.inativo" [ngbTooltip]="'artesApp.acervoAtual.help.inativo' | translate">Inativo</span>
        </dt>
        <dd>
          <span>{{ acervoAtual.inativo }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/acervo-atual', acervoAtual.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
