<div>
  <h2 id="page-heading" data-cy="ContatoHeading">
    <span jhiTranslate="artesApp.contato.home.title">Contatoes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="artesApp.contato.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-contato"
        [routerLink]="['/contato/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="artesApp.contato.home.createLabel"> Create a new Contato </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="contatoes?.length === 0">
    <span jhiTranslate="artesApp.contato.home.notFound">No contatoes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="contatoes && contatoes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomeComp">
            <span jhiTranslate="artesApp.contato.nomeComp">Nome Comp</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="empresa">
            <span jhiTranslate="artesApp.contato.empresa">Empresa</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="funcao"><span jhiTranslate="artesApp.contato.funcao">Funcao</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="rg"><span jhiTranslate="artesApp.contato.rg">Rg</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cpf"><span jhiTranslate="artesApp.contato.cpf">Cpf</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="infoContato">
            <span jhiTranslate="artesApp.contato.infoContato">Info Contato</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="endRua">
            <span jhiTranslate="artesApp.contato.endRua">End Rua</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="endNumero">
            <span jhiTranslate="artesApp.contato.endNumero">End Numero</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="endBairro">
            <span jhiTranslate="artesApp.contato.endBairro">End Bairro</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="endComplemento">
            <span jhiTranslate="artesApp.contato.endComplemento">End Complemento</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="endCep">
            <span jhiTranslate="artesApp.contato.endCep">End Cep</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="telefone">
            <span jhiTranslate="artesApp.contato.telefone">Telefone</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fax"><span jhiTranslate="artesApp.contato.fax">Fax</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="celular">
            <span jhiTranslate="artesApp.contato.celular">Celular</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="email"><span jhiTranslate="artesApp.contato.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="site"><span jhiTranslate="artesApp.contato.site">Site</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="observacoes">
            <span jhiTranslate="artesApp.contato.observacoes">Observacoes</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dataAtualizacao">
            <span jhiTranslate="artesApp.contato.dataAtualizacao">Data Atualizacao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="inativo">
            <span jhiTranslate="artesApp.contato.inativo">Inativo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="area.area"><span jhiTranslate="artesApp.contato.area">Area</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cidade.cidade">
            <span jhiTranslate="artesApp.contato.cidade">Cidade</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contato of contatoes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/contato', contato.id, 'view']">{{ contato.id }}</a>
          </td>
          <td>{{ contato.nomeComp }}</td>
          <td>{{ contato.empresa }}</td>
          <td>{{ contato.funcao }}</td>
          <td>{{ contato.rg }}</td>
          <td>{{ contato.cpf }}</td>
          <td>{{ contato.infoContato }}</td>
          <td>{{ contato.endRua }}</td>
          <td>{{ contato.endNumero }}</td>
          <td>{{ contato.endBairro }}</td>
          <td>{{ contato.endComplemento }}</td>
          <td>{{ contato.endCep }}</td>
          <td>{{ contato.telefone }}</td>
          <td>{{ contato.fax }}</td>
          <td>{{ contato.celular }}</td>
          <td>{{ contato.email }}</td>
          <td>{{ contato.site }}</td>
          <td>{{ contato.observacoes }}</td>
          <td>{{ contato.dataAtualizacao | formatMediumDatetime }}</td>
          <td>{{ contato.inativo }}</td>
          <td>
            <div *ngIf="contato.area">
              <a [routerLink]="['/area-depto', contato.area?.id, 'view']">{{ contato.area?.area }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="contato.cidade">
              <a [routerLink]="['/cidade', contato.cidade?.id, 'view']">{{ contato.cidade?.cidade }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/contato', contato.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/contato', contato.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(contato)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="contatoes && contatoes.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
