<div>
  <h2 id="page-heading" data-cy="ContatoHeading">
    <span jhiTranslate="artesApp.contato.home.title">Contatoes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="artesApp.contato.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-contato"
        [routerLink]="['/contato/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="artesApp.contato.home.createLabel"> Create a new Contato </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="contatoes?.length === 0">
    <span jhiTranslate="artesApp.contato.home.notFound">No contatoes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="contatoes && contatoes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="artesApp.contato.nomeComp">Nome Comp</span></th>
          <th scope="col"><span jhiTranslate="artesApp.contato.empresa">Empresa</span></th>
          <th scope="col"><span jhiTranslate="artesApp.contato.funcao">Funcao</span></th>
          <th scope="col"><span jhiTranslate="artesApp.contato.rg">Rg</span></th>
          <th scope="col"><span jhiTranslate="artesApp.contato.cpf">Cpf</span></th>
          <th scope="col"><span jhiTranslate="artesApp.contato.infoContato">Info Contato</span></th>
          <th scope="col"><span jhiTranslate="artesApp.contato.endRua">End Rua</span></th>
          <th scope="col"><span jhiTranslate="artesApp.contato.endNumero">End Numero</span></th>
          <th scope="col"><span jhiTranslate="artesApp.contato.endBairro">End Bairro</span></th>
          <th scope="col"><span jhiTranslate="artesApp.contato.endComplemento">End Complemento</span></th>
          <th scope="col"><span jhiTranslate="artesApp.contato.endCep">End Cep</span></th>
          <th scope="col"><span jhiTranslate="artesApp.contato.telefone">Telefone</span></th>
          <th scope="col"><span jhiTranslate="artesApp.contato.fax">Fax</span></th>
          <th scope="col"><span jhiTranslate="artesApp.contato.celular">Celular</span></th>
          <th scope="col"><span jhiTranslate="artesApp.contato.email">Email</span></th>
          <th scope="col"><span jhiTranslate="artesApp.contato.site">Site</span></th>
          <th scope="col"><span jhiTranslate="artesApp.contato.observacoes">Observacoes</span></th>
          <th scope="col"><span jhiTranslate="artesApp.contato.dataAtualizacao">Data Atualizacao</span></th>
          <th scope="col"><span jhiTranslate="artesApp.contato.ativo">Ativo</span></th>
          <th scope="col"><span jhiTranslate="artesApp.contato.area">Area</span></th>
          <th scope="col"><span jhiTranslate="artesApp.contato.cidade">Cidade</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contato of contatoes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/contato', contato.id, 'view']">{{ contato.id }}</a>
          </td>
          <td>{{ contato.nomeComp }}</td>
          <td>{{ contato.empresa }}</td>
          <td>{{ contato.funcao }}</td>
          <td>{{ contato.rg }}</td>
          <td>{{ contato.cpf }}</td>
          <td>{{ contato.infoContato }}</td>
          <td>{{ contato.endRua }}</td>
          <td>{{ contato.endNumero }}</td>
          <td>{{ contato.endBairro }}</td>
          <td>{{ contato.endComplemento }}</td>
          <td>{{ contato.endCep }}</td>
          <td>{{ contato.telefone }}</td>
          <td>{{ contato.fax }}</td>
          <td>{{ contato.celular }}</td>
          <td>{{ contato.email }}</td>
          <td>{{ contato.site }}</td>
          <td>{{ contato.observacoes }}</td>
          <td>{{ contato.dataAtualizacao | formatMediumDatetime }}</td>
          <td>{{ contato.ativo }}</td>
          <td>
            <div *ngIf="contato.area">
              <a [routerLink]="['/area-depto', contato.area?.id, 'view']">{{ contato.area?.area }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="contato.cidade">
              <a [routerLink]="['/cidade', contato.cidade?.id, 'view']">{{ contato.cidade?.cidade }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/contato', contato.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/contato', contato.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(contato)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
