<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="tipoDocumento">
      <h2 data-cy="tipoDocumentoDetailsHeading"><span jhiTranslate="artesApp.tipoDocumento.detail.title">Tipo Documento</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ tipoDocumento.id }}</span>
        </dd>
        <dt><span jhiTranslate="artesApp.tipoDocumento.tipoDocumento">Tipo Documento</span></dt>
        <dd>
          <span>{{ tipoDocumento.tipoDocumento }}</span>
        </dd>
        <dt>
          <span jhiTranslate="artesApp.tipoDocumento.inativo" [ngbTooltip]="'artesApp.tipoDocumento.help.inativo' | translate"
            >Inativo</span
          >
        </dt>
        <dd>
          <span>{{ tipoDocumento.inativo }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/tipo-documento', tipoDocumento.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
